@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
body {
  font-family: 'Rubik', sans-serif;
}
.app {
  background-color: #dbead9;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
}
.wrapper {
  padding-top: 100px;
}
.todo {
  background-color: #ffffff;
  width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px 10px;
  @media (max-width: 1050px) {
    width: 95%;
  }
  @media (max-width: 500px) {
    width: 90%;
  }
}
h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
  span {
    color: #8ab780;
  }
}
.InputEnter {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  gap: 10px;
  margin-bottom: 30px;
  @media (max-width: 500px) {
    flex-direction: column;
    padding: 0 15px;
  }
  &__add {
    background-color: #8ab780;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: #789072;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
  }
  &__input {
    font-size: 20px;
    padding: 13px 20px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid #8ab780;
    @media (max-width: 500px) {
      width: calc(100% - 20px);
      padding: 13px 10px;
    }
    &:focus {
      border: 2px solid #789072;
      outline: none;
    }
  }
}

.todo {
  &__body {
    padding: 0px 30px;
    @media (max-width: 500px) {
      padding: 0px 15px;
    }
  }
  &__item {
    display: grid;
    grid-template-columns: 30px 1fr 100px;
    align-items: center;
    gap: 25px;
    background-color: #dbead9;
    padding: 10px;
    border-radius: 10px;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @media (max-width: 500px) {
    }
  }

  &__label {
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
    }
  }

  &__content {
    text-align: left;
    font-size: 20px;
    overflow: hidden;
  }
  &__changeinput {
    background-color: inherit;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid black;
    overflow: hidden;
  }

  &__icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__change {
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
    }
  }

  &__delete {
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.6;
    }
  }
}
